<div class="container">
  <h1>Welcome to Aha-app</h1>
  <p>Shoot your enlightenment</p>

<ul id="locations">
  <li><a href="/sf"><%= @dbc[0] %></a></li> -
  <li><a href="/ny"><%= @dbc[1] %></a></li> -
  <li><a href="/chi"><%= @dbc[2] %></a></li>
</ul>
</div>
