<div class="container">
  <form action="/sf" method="post">
    <br>
    Share your aha:
    <br><br>
    location :<br> <input type="text" name="location_id">
    <br><br>
    title :<br> <input type="text" name="aha_title">
    <br><br>
    body :<br> <textarea type="text" name="aha_body"></textarea>
    <br><br>
    <input type="submit" value="Say it!">
  </form>

  <h3>DBC SF</h3>
  <h4>Aha's!</h4>
  <% if @aha_body %>
    <p>Thanks for sharing this aha: "<span id="grandma_says"><%= @aha_body %></span>"</p>
  <% end %>
</div>

<div class="container">
  <h3>SF Aha's!!</h3>
  <h4>Aha's!</h4>
  <% if @aha_body %>
    <p>Thanks for sharing this aha:<span id="grandma_says"><% @aha_heaven.each do |k,v| %>
      <h5><%= k %></h5>
      <p><%= v %></p>
      <% end %>

  </span></p>
  <% end %>
</div>
